@{
    ViewData["Title"] = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>About Me</h2>

<div class="about">
</div>
<h5>I moved to Portland from Utah to study English at Reed College. It was only after I graduated that I discovered that I had no desire to teach. I certainly missed being around smart people thinking "deep thoughts" though and have always tried to keep some sort of mental challenge in my life (even if it's just obsessive crossword puzzling!) Many interesting unrelated jobs later I decided to enroll in Epicodus. Here I am learning how to program at an accelerated rate. In the meantime I've logged over 1000 hours of hands-on-keyboard learning with a focus in:</h5>
<h5>JavaScript | C# | .NET | SQL |   HTML & CSS | Pair Programming </h5>    

 <h5>I'm looking forward to my upcomming internship and some real world experience.</h5>

