@{
    ViewData["Title"] = "Projects";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model IEnumerable<PortfolioCodeReview.Models.Repo>



@foreach(var repo in Model)
{ 
    <div class="row">
        <div class="col m12">
            <div class="col s12 m7">
                <h2 class="header">@Html.DisplayFor(modelItem => repo.Name)</h2>
                <div class="card horizontal">
                    @*<div class="card-image">
                        <img src="@Image">
                    </div>*@
                    <div class="card-stacked">
                        <div class="card-content">
                            <p><a href="@repo.HtmlUrl">@Html.DisplayFor(modelItem => repo.HtmlUrl)"</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}